.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.startedLink {
  font-size: 24px;
}

.pizzaBox {
  contain: strict;
  height: 300px;
  width: 300px;
  display: inline-block;
  align-content: center;
  border: 2px solid black;
  border-radius: 4px;
}

.orderTotal {
  text-align: right;
  margin: 10px;
}